---
import Skelet from "../../layout/skelet.astro";

export async function getStaticPaths() {
  const data = await fetch("https://qnmavaxwhjqqhjgjqurq.supabase.co/rest/v1/atm", {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFubWF2YXh3aGpxcWhqZ2pxdXJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU1OTM0ODEsImV4cCI6MjAzMTE2OTQ4MX0.RDkLGM5hqlega6p_jA4OWoHfM2D8Iqrtah5GOXEY1e0",
    },
  }).then((response) => response.json());
  return data.map((post) => {
    return {
      // liste over sider der skal genereres
      params: { slug: post.slug },
      //   sender props med ned til undersiden
      props: { myData: post },
    };
  });
}
const { myData } = Astro.props;
---

<Skelet>
  <div class="topbar">
    <h3>{myData.type}</h3>
    <h3>{myData.date}</h3>
  </div>
  <div class="grid_whatsnew">
    <img class="img_1" src={myData.pictures[0]} alt={myData.index_headline[0]} />
    <img class="img_2" src={myData.pictures[1]} alt={myData.index_headline[1]} />

    <div class="paragraf_1">
      <h2>{myData.headline}</h2>
      <p>{myData.text[0]}</p>
    </div>
  </div>
  <div class="p2_3img">
    <div class="paragraf_2">
      <p>{myData.text[1]}</p>
    </div>
    <div class="raekke_img">
      <img src={myData.pictures[2]} alt={myData.index_headline[2]} />
      <img src={myData.pictures[3]} alt={myData.index_headline[3]} />
      <img src={myData.pictures[4]} alt={myData.index_headline[4]} />
    </div>
  </div>
  <div class="img_6">
    <img class="img_6_big" src={myData.pictures[5]} alt={myData.index_headline[5]} />
    <img class="img_6_small" src={myData.pictures[5]} alt={myData.index_headline[5]} />
  </div>
</Skelet>

<style>
  p {
    line-height: 1.7;
  }
  .topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  img {
    width: 100%;
  }

  .img_1 {
    grid-column: 1/3;
    width: 346px;
    height: 149px;
    object-fit: cover;
  }
  .img_2 {
    position: absolute;
    left: 23px;
    top: 28%;
    width: 103px;
    height: 387px;
    object-fit: cover;
    object-position: 71%;
  }

  .grid_whatsnew {
    display: grid;
    grid-template-columns: 1fr 60%;
    grid-template-rows: 1fr;
  }

  .paragraf_1 {
    grid-column: 2;
    grid-row: 2;
    margin: 32px 13px;
  }

  .paragraf_2 {
    width: 45%;

    align-self: center;
    margin: 32px 20px;
  }

  .raekke_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 20px;
  }
  .raekke_img img {
    margin: 10px 10px;
    width: 90%;
  }

  .p2_3img {
    display: flex;
    flex-direction: row;
  }

  .img_6 {
    margin: 20px 0;
  }

  .img_6_big {
    margin: 0 20px;
  }
  .img_6_small {
    position: absolute;
    bottom: -49%;
    width: 40%;
    left: 3%;
  }

  /* .img_1 {
    margin-bottom: 30%;
  }
  .img_2 {
    position: absolute;
    left: 0;
    top: 40%;
    width: 30%;
  }

  .text {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  h2,
  p {
    justify-content: end;
  } */
</style>
