---
import BurgerMenu from "../components/burger_menu.astro";
import Footer from "../components/footer.astro";
import Skelet from "../layout/skelet.astro";
import "../styles/generel.css";

const { data, link } = Astro.props;

const indexData = await fetch("https://qnmavaxwhjqqhjgjqurq.supabase.co/rest/v1/atm", {
  method: "GET",
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFubWF2YXh3aGpxcWhqZ2pxdXJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU1OTM0ODEsImV4cCI6MjAzMTE2OTQ4MX0.RDkLGM5hqlega6p_jA4OWoHfM2D8Iqrtah5GOXEY1e0",
  },
}).then((res) => res.json());
---

<Skelet>
  <div class="index_grid">
    <div class="title_og_img">
      <div class="overskrift_mobile">
        <h2>ALPHA</h2>
        <h3>Management & Artist Services</h3>
      </div>

      <div class="big_img_container">
        <img src={indexData[0].index_pictures} alt={indexData[0].index_headline} />
      </div>
    </div>

    <div class="all_txt">
      <div class="imgtxt" class="p_small">
        <h3>{indexData[0].index_headline}</h3>
      </div>
      <a href="whats_new.html" class="read_more">Read More ></a>
    </div>
  </div>
  <div class="overskrift_desktop">
    <h2>ALPHA</h2>
    <h3>Management & Artist Services</h3>
  </div>

  <div class="karrusel">
    <!-- evt ændre her ift hvor mange billeder man vil have -->
    {
      indexData.map((data) => {
        return <img src={data.index_pictures} alt={data.index_headline} />;
      })
    }
    {
      indexData.map((data) => {
        return <img src={data.index_pictures2} alt={data.index_headline} />;
      })
    }
    {
      indexData.map((data) => {
        return <img src={data.index_pictures} alt={data.index_headline} />;
      })
    }
    {
      indexData.map((data) => {
        return <img src={data.index_pictures2} alt={data.index_headline} />;
      })
    }
  </div>
</Skelet>

<script>
  window.addEventListener("DOMContentLoaded", init);

  function init() {
    let karruselImages = document.querySelectorAll(".karrusel img");
    let bigImage = document.querySelector(".big_img_container img");
    let bigImageTitle = document.querySelector(".imgtxt");
    console.log("karruselImages", karruselImages);

    karruselImages.forEach((img) => {
      img.addEventListener("mousedown", onImageDown);
    });

    function onImageDown(event) {
      console.log(event);
      bigImage.src = event.target.src;
      bigImageTitle.textContent = event.target.alt;
      bigImageTitle.classList.add("h3_desktop");
    }
  }
</script>

<style>
  .overskrift_desktop {
    display: none;
  }
  .big_img_container {
    position: relative;
    width: 100%;
    z-index: -1;
  }

  .title_og_img {
    margin-left: auto;
  }

  .big_img_container img {
    width: 100%;

    width: 274px;
    height: 393px;
    object-fit: cover;
  }

  .karrusel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: scroll;
    /* hides scrollbar */
    scrollbar-width: none;
  }
  body {
    margin: 0;
  }

  .karrusel img {
    margin: 0 3px;
    object-fit: cover;
    width: 100px;
    height: 100px;
  }

  img {
    object-fit: cover;
    cursor: pointer;
  }
  * {
    margin: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }

  .overskrift_mobile {
    margin-top: 10px;
  }

  .imgtxt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "Work Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: var(--sort);
  }

  .index_grid {
    display: flex;
    flex-direction: column;
    align-content: end;
    width: 274px;
    margin-left: auto;
    /* fix senere, gør responsiv */
    margin-right: 10px;
    margin-bottom: 20%;
    margin-top: 20px;
  }

  .all_txt {
    display: flex;
    justify-content: space-between;
    margin-left: initial;
  }

  /* desktop view */
  @media (min-width: 800px) {
    .overskrift_mobile {
      display: none;
    }
    .overskrift_desktop {
      display: block;
      margin-bottom: 10px;
      margin-left: 20px;
    }
    .big_img_container {
      display: flex;
      justify-content: flex-end;
      width: 346px;
      height: 414px;
      margin-right: 200px;
    }
    .big_img_container img {
      width: 346px;
    }

    .index_grid {
      margin-right: 12%;
      margin-top: 5%;
      margin-bottom: 30px;
    }
    .all_txt {
      width: 346px;
    }

    .karrusel {
      margin-top: 20px;
    }
    .karrusel img {
      filter: grayscale(100%);
    }
    .karrusel img:hover {
      filter: grayscale(0%);
    }
  }
</style>
