---
import BurgerMenu from "../components/burger_menu.astro";
import Footer from "../components/footer.astro";
import IndexKarrusel from "../components/IndexKarrusel.astro";
import Skelet from "../layout/skelet.astro";
import "../styles/generel.css";

const { data, link } = Astro.props;

const indexData = await fetch("https://qnmavaxwhjqqhjgjqurq.supabase.co/rest/v1/atm", {
  method: "GET",
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFubWF2YXh3aGpxcWhqZ2pxdXJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU1OTM0ODEsImV4cCI6MjAzMTE2OTQ4MX0.RDkLGM5hqlega6p_jA4OWoHfM2D8Iqrtah5GOXEY1e0",
  },
}).then((res) => res.json());
---

<Skelet>
  <div class="index_grid">
    <div class="title_og_img">
      <div class="overskrift">
        <h2>ALPHA</h2>
        <p class="p_small">Management & Artist Services</p>
      </div>

      <div class="big_img_container">
        <img src={indexData[0].index_pictures} alt={indexData[0].index_headline} />
      </div>
    </div>

    <div class="all_txt">
      <div class="imgtxt">
        <p>{indexData[0].index_headline}</p>
      </div>
      <a href="atm_singleview.html" class="read_more">Read More</a>
    </div>
  </div>

  <div class="karrusel">
    {
      indexData.map((data) => {
        return <img src={data.index_pictures} alt={data.index_headline} />;
      })
    }
  </div>
</Skelet>

<script>
  window.addEventListener("DOMContentLoaded", init);

  function init() {
    let karruselImages = document.querySelectorAll(".karrusel img");
    let bigImage = document.querySelector(".big_img_container img");
    let imgImageTitle = document.querySelector(".img_title");
    console.log("karruselImages", karruselImages);

    karruselImages.forEach((img) => {
      img.addEventListener("mousedown", onImageDown);
    });

    function onImageDown(event) {
      console.log(event);
      bigImage.src = event.target.src;
      imgImageTitle.textContent = event.target.alt;
    }
  }
</script>

<style>
  .big_img_container {
    position: relative;
    width: 100%;
    z-index: -1;
  }

  .title_og_img {
    margin-left: auto;
  }

  .big_img_container img {
    width: 100%;

    width: 274px;
    height: 393px;
    object-fit: cover;
    object-position: 25% 25%;
  }

  .karrusel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: scroll;
    /* hides scrollbar */
    scrollbar-width: none;
  }
  body {
    margin: 0;
  }

  .karrusel img {
    margin: 0 3px;
    object-fit: cover;
    width: 100px;
    height: 100px;
  }

  img {
    object-fit: cover;
  }
  * {
    margin: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }

  .overskrift {
    margin-top: 10px;
  }

  .imgtxt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .index_grid {
    display: flex;
    flex-direction: column;
    align-content: end;
    width: 274px;
    margin-left: auto;
    /* fix senere, gør responsiv */
    margin-right: 10px;
    margin-bottom: 20%;
    margin-top: 20px;
  }

  .all_txt {
    display: flex;
    justify-content: space-between;
    margin-left: initial;
  }
</style>
