---
import "../styles/generel.css";
const { data, link } = Astro.props;

const indexData = await fetch("https://qnmavaxwhjqqhjgjqurq.supabase.co/rest/v1/atm", {
  method: "GET",
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFubWF2YXh3aGpxcWhqZ2pxdXJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU1OTM0ODEsImV4cCI6MjAzMTE2OTQ4MX0.RDkLGM5hqlega6p_jA4OWoHfM2D8Iqrtah5GOXEY1e0",
  },
}).then((res) => res.json());
---

<section>
  <div class="big_img_container">
    <img src={indexData[0].index_pictures} alt={indexData[0].index_headline} />
    <p class="img_title">{indexData[0].index_headline}</p>
  </div>
  <div class="karrusel">
    {
      indexData.map((data) => {
        return <img src={data.index_pictures} alt={data.index_headline} />;
      })
    }
  </div>
  <script>
    window.addEventListener("DOMContentLoaded", init);

    function init() {
      let karruselImages = document.querySelectorAll(".karrusel img");
      let bigImage = document.querySelector(".big_img_container img");
      let imgImageTitle = document.querySelector(".img_title");
      console.log("karruselImages", karruselImages);

      karruselImages.forEach((img) => {
        img.addEventListener("mousedown", onImageDown);
      });

      function onImageDown(event) {
        console.log(event);
        bigImage.src = event.target.src;
        imgImageTitle.textContent = event.target.alt;
      }
    }
  </script>
</section>

<style>
  .big_img_container {
    position: relative;
    width: 80%;
    z-index: -1;
  }

  .big_img_container img {
    width: 100%;
  }

  .karrusel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: scroll;
    /* hides scrollbar */
    scrollbar-width: none;
  }

  .karrusel img {
    width: 100px;
  }

  img {
    object-fit: cover;
  }
</style>
