---
import "../styles/generel.css";
const { data } = Astro.props;
---

<!-- hvad hvis der er mere end 2 filtreringer?? -->
<article class={(data.event && "event") || "recommendation"}>
  <div class="date_div">
    <h4 class="menu">{data.date}</h4>
  </div>
  <div class="event_grid">
    <div class="event_tekst">
      <h2>{data.headline}</h2>
      <p>{data.text[0]}</p>
      <a class="read_more" href=`whats_new/${data.slug}`>read more ></a>
    </div>
    <img src={data.index_pictures} alt="Event picture" />
  </div>
</article>

<style>
  .event_grid {
    display: flex;
    flex-direction: row;
    margin: 0px 20px;
  }

  h4 {
    text-align: right;
    border-bottom: 0.5px solid #1e1e1e;
    width: 60%;
    margin-bottom: 3%;
    margin-left: 0;
    font-family: "Work Sans";
    font-size: 30px;
  }
img{
  max-width: 100px;
}

body{
  margin: 0;
}
</style>
